<!DOCTYPE html>
<html>
  <head>
    <title>Smook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <!--Header-->
    <header>
      <nav class="navbar bg-dark">
        <div class="container">
          <a class="navbar-brand" href="<%= root_path %>">
            <strong class="name">Home</strong>
          </a>
        </div>
      </nav>
    </header>
    <!--Main content-->
    <main class="container">
      <%= yield %>
    </main>
    <!--Footer-->
    <footer class="p-4 bg-light">
      <div class="container text-muted">
        <p> 2021 @ Smook </p>
        <p class="float-right"> <a href="#">Back to top</a> </p>
      </div>
    </footer>
  </body>
  <% flash.each do |name, msg| %>
    <div class= "<%=name%>-flash">
      <p><%= msg %></p>
    </div>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</html>
